<aside class="filter-container">

    <h2>Filters</h2>

    <div class="filter-input-container">
        <label for="filter-title" class="filter-input-label">Title</label>
        <div class="filter-input-element">
        <input type="text" name="filter-title" id="filter-title" class="filter-input">
        </div>
    </div>

    <div class="filter-input-container">
        <label for="filter-author" class="filter-input-label">Author</label>
        <div class="filter-input-element">
        <input type="text" name="filter-author" id="filter-author" class="filter-input">
        </div>
    </div>

    <div class="filter-input-container">
        <label for="filter-min-length" class="filter-input-label">Length</label>
        <div class="filter-input-element">
        <input type="text" name="filter-min-length" id="filter-min-length" class="filter-input" placeholder="min">
        </div>
        <div class="filter-input-element">
        <input type="text" name="filter-max-length" id="filter-max-length" class="filter-input" placeholder="max">
        </div>
    </div>

    <button id="filter-update-button" class="action-button">Update</button>

</aside>