<div id="book-backdrop" class="hidden"></div>
<div id="add-book-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3 id="modal-title">Add a Book</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>
        <div class="modal-body">
            <div class="input-element">
                <label for="title-input">Title:</label>
                <input type="text" id="title-input">
            </div>
            <div class="input-element">
                <label for="author-input">Author:</label>
                <input type="text" id="author-input">
            </div>
            <div class="input-element">
                <label for="genre-input">Genre:</label>
                <input type="text" id="genre-input" placeholder="e.g., Fiction">
            </div>
            <div class="input-element">
                <label for="length-input">Number of Pages</label>
                <input type="number" id="length-input">
            </div>
            <div class="input-element">
                <label for="timesRead-input">Times Read:</label>
                <input type="number" id="timesRead-input" placeholder="0">
            </div>
            <div class="input-element">
                <label for="image-input">Image URL:</label>
                <input type="text" id="image-input" placeholder="http://...">
            </div>
            <div class="input-element">
                <label for="review-input">Notes:</label>
                <textarea id="review-input" placeholder="Your review or notes"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button id="modal-delete" class="modal-delete-button">Delete</button>
            <button type="button" id="modal-share" class="modal-share-button" onclick="shareBook()">Share</button>
            <button type="button" id="modal-accept" class="action-button">Finish</button>
        </div>
    </div>
</div>

<script>
    function shareBook() {
        if (currentEditingBookId) {
            window.location.href = `/share-book/${currentEditingBookId}`;
        } else {
            alert('Please save the book before sharing.');
        }
    }
</script>