<main id="stats">
  <h1>Reading Stats</h1>
  <p>{{mostReadAuthor}}</p>
  <p>{{totalReadingTime}}</p>
  <p>{{mostReadGenre}}</p>
  <button class="micro-button"><a class="link" href="/">Back to Home</a></button>

  <img id="stats-image" src="https://cdn1.iconfinder.com/data/icons/data-analytics-glyph/60/026_-_Analytics_Book-data-analyse-512.png" width="300">
</main>
