html, body
{
    background-color: #bb9457;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header
{
    background-color: #432818;
    /* background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/53554260151341.5a3e34830d41b.jpg"); */
    width: auto;
    padding: 12px;
    margin-bottom: 20px;
}

.site-title
{
    color: #bb9457;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.intro 
{
    margin: 20px;
}

.bookshelf
{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/53554260151341.5a3e34830d41b.jpg");
    border: 15px ridge #432818;
    min-height: 900px;
    max-width: 75%;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.book {
    display: inline-block;
    vertical-align: top;
    height: 220px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    color: #432818;
    font-size: larger;
    background-color: #b17042;
    border: 5px solid #432818;
    border-radius: 3px;
}

.book:hover
{
    background-color: #9c5f34;
    cursor: pointer;
}

.book-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 220px;
    width: 200px;
}

.book-info-container {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.book-image-container {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    overflow: hidden;
}

.book-image
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#side-book-button 
{
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 100px;
    width: 100px;
    background-color: #d1b262;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-color: #99582a;
    border-width: 4px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#other-book-button
{
    display: inline-block;
    vertical-align: top;
    height: 250px;
    width: 230px;
    margin: 10px;
    padding: 10px;
    color: #43281811;
    font-size: 140px;
    background-color: #b1704248;
    border: 5px solid #4328183a;
    border-radius: 3px;
    cursor: pointer;
}

#other-book-button:hover
{
    color: #43281891;
    background-color: #b1704281;
    border: 5px solid #4328187e;
}
  
#side-book-button:hover 
{
    background-color: #d3a356;    
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.micro-button-container {
    display: flex;
    flex-direction: column;
    /* position: absolute;
    right: 20px; */
    top: 200px; /* Adjusted to be below the intro and level with or below the top of the bookshelf */
    margin-right: 20px;
}

.micro-button {
    margin: 10px 0;
    height: auto;
    width: auto;
    padding: 10px;
    background-color: #432818;
    border: 3px solid;
    text-align: center;
    white-space: normal; /* Allow text to wrap */
}

.micro-button:hover {
    background-color: #432818d2;
    cursor: pointer;
}

.link
{
    color: #d1b262;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #99582a;
}

::-webkit-scrollbar-thumb {
    background: #ffe6a7;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d1b262;
}

/* -------------- Microservice CSS Stuff ------------------ */

#stats
{
    margin: 20px;
    font-size: 20px;
}

#stats-image
{
    height: 300px;
    width: 300px;
    margin: 20px;
    position: fixed;
    right: 50%;
    top: 100px;
}

#filtered
{
    margin: 35px;
    font-size: larger;
}

.filter-input
{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.filter-input > label
{
    flex: 1 75px;
    margin-right: 10px;
}

.filter-button
{
    font-size: 20px;
    color: #d1b673;
    padding: 10px;
    background-color: #8f4714;
    border: 1px solid #99582a;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
}

.filter-button:hover
{
    background-color: #d1b262;
    border-color: #432818;
    color: #432818;
}
  
.action-button {
    font-size: 20px;
    color: #d1b673;
    padding: 10px;
    background-color: #432818;
    border: 1px solid #99582a;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
 }
  
.action-button:hover {
    background-color: #d1b262;
    border-color: #432818;
    color: #432818;
}


/* -------------- Modal CSS Stuff ------------------- */

.hidden
{
    display: none;
}

#book-backdrop 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#add-book-modal 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: auto;
}

.modal-dialog 
{
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #bb9457;
    border: #432818 solid 5px;
}

.modal-header 
{
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 
{
    margin: 0;
    font-size: 28px;
}

#modal-close 
{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

#modal-close:hover
{
    right: 7px;
    top: 1px;
    font-size: 32px;
}

.modal-body 
{
    padding: 20px;
}

.input-element 
{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
    
}

.input-element > label 
{
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}

input
{
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px outset #432818;
    border-radius: 3px;
    background-color: #ffe6a7;
}

textarea
{
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px outset #432818;
    border-radius: 3px;
    background-color: #ffe6a7;
}

.modal-footer 
{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

#modal-accept 
{
    background-color: #d1e770;
    color: #432818;
    margin-right: 20px;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 600;
    border-width: 2px;
    border-radius: 4px;
    border-color: #432818;
}

#modal-accept:hover
{
    background-color: #8da133;
    color: #432818;
    cursor: pointer;
}

#modal-share 
{
    background-color: #ffda33;
    color: #432818;
    margin-right: 20px;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 600;
    border-width: 2px;
    border-radius: 4px;
    border-color: #432818;
}

#modal-share:hover
{
    background-color: #e2b330;
    color: #432818;
    cursor: pointer;
}

#modal-delete 
{
    background-color: #7c1807;
    color: #e6cb89;
    margin-right: 20px;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 600;
    border-radius: 4px;
    border-width: 2px;
    border-color: #432818;
    border-style: solid;
}

#modal-delete:hover
{
    background-color: #8f4714;
    color: #d1b262;
    cursor: pointer;
}